.game {
    position: relative;
    width: 450px;
    height: 450px;
    border: solid 2px #fff;
    margin-top: 2rem;
}

.game_menu {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}

.game_menu h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 15px 0;
    color: #000;
}

.game_menu button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.game_board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

.game_button {
    border: 2px solid #fff;
    font-size: 4rem;
    line-height: 0;
    color: white;
    cursor: pointer;
    background-color: transparent;
}